DATABASE_URL=postgres://admin:secretpassword@localhost:55432/fintech?sslmode=disable
JWT_SECRET=my_secret_key
REDIS_URL=localhost:56379
RABBITMQ_URL=amqp://guest:guest@localhost:5673/
CARD_ENCRYPTION_KEY=12345678901234567890123456789012
API_PORT=8081
PORT=8081
FRONTEND_URL=http://localhost:3005